body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background: #f4f4f4;
}

header {
    text-align: center;
    padding: 2rem;
    background: #333;
    color: #fff;
}

.avatar {
    width: 120px;
    border-radius: 50%;
}

section {
    padding: 1.5rem;
    max-width: 1000px;
    margin: auto;
    background: white;
    margin-top: 1rem;
    border-radius: 10px;
}

.project {
    margin-bottom: 2rem;
}

.project img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-top: 1rem;
}

/* Responsivo */
@media (max-width: 600px) {
    body {
        padding: 0;
    }

    section {
        margin: 0.5rem;
    }
}